<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Tony Gilkerson">
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

        <title>Greenhouse IOT - OBFF</title>

        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.min.css">
        <link href="../../css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../..">
            
            OBFF
            </a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
            
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
                        <li >
                            <a href="../../spring2021/plan/">Spring 2021 </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../spring2020/plan/">Spring 2020 </a>
                        </li>
                        
                    
                        
                        <li class="active">
                            <a href="./">Greenhouse IOT </a>
                        </li>
                        
                    
                    </ul>
                </li>
            
            
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
                        <li >
                            <a href="../../resources/">Resources </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../seasons/">Seasons </a>
                        </li>
                        
                    
                    </ul>
                </li>
            
            
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workflow <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
                        <li >
                            <a href="../../workflow/mkdocs/">mkdocs </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../workflow/squarespace-products/">Squarespace Products Sync Workflow </a>
                        </li>
                        
                    
                    </ul>
                </li>
            
            
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crew <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
                        <li >
                            <a href="../../crew/">Start Here </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../crew/getting-started-guide/">Getting Started Guide </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../crew/issues/">Issues </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../crew/1099/">1099 </a>
                        </li>
                        
                    
                        
                        <li >
                            <a href="../../crew/campus-map/">Campus Map </a>
                        </li>
                        
                    
                    </ul>
                </li>
            
            
            
            
            
                
                <li >
                    <a href="../../about/">
                      About
                    </a>
                </li>
                
            
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
            
            
            
            
            
            
            
            
            
            
            
              
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3">
  
<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#greenhouse-iot">Greenhouse IOT</a></li>
        
            <li><a href="#temperature-monitoring">Temperature Monitoring</a></li>
        
            <li><a href="#iptables">iptables</a></li>
        
            <li><a href="#pi-setup">Pi Setup</a></li>
        
    
    </ul>
</div>
  
</div>
            <div class="col-md-9" role="main">

<h1 id="greenhouse-iot">Greenhouse IOT</h1>
<h2 id="temperature-monitoring">Temperature Monitoring</h2>
<p><img alt="" src="../img/gh-iot.png" /></p>
<p>The drawing above shows how the sensor data emanating from <em>ObserverIP</em> is intercepted via <code>iptables</code> running on <em>WRT54G</em> and sent to a Node-RED service running on <code>pi1</code></p>
<h2 id="iptables">iptables</h2>
<p>An <em>iptables</em> entry is created to intercept traffic from <em>ObserverIP</em> to <em>ambientweather.net</em>. and redirect it Node-RED running on a Raspberry Pi. The <em>gh-flow</em> running on the Pi will act as a tee, sending the data to Prometheus before sending it along to its original target <em>ambientweather.net</em>.</p>
<pre><code class="language-bash">#
# ssh to WRT54G
#
ssh root@192.168.2.1 

#
# While on pi1
# redirect traffic from ObserverIP to pi1
#
iptables -t nat -A PREROUTING -s 192.168.2.151 -p tcp --dport 80 -j DNAT --to-destination 192.168.2.160:1880

# Verify
iptables -t nat -L PREROUTING

</code></pre>
<h2 id="pi-setup">Pi Setup</h2>
<p>Load raspbian lite OS and then set a static IP. For more information see the official <a href="https://www.raspberrypi.org/documentation/configuration/tcpip/">doc</a></p>
<h3 id="raspi-config">raspi-config</h3>
<p>Login with the default login <code>pi/raspbery</code> and run <code>rasp-config</code></p>
<pre><code class="language-bash">raspi-config
</code></pre>
<ul>
<li>Change the password for the <code>pi</code> user</li>
<li>Change the hostname to <code>pi1</code> and <code>pi2</code></li>
<li>Enable ssh under "Interface Options"</li>
</ul>
<h3 id="static-ip-address">Static IP address</h3>
<p>Configure the <code>eth0</code> interface statically by editing the <code>/etc/dhcpcd.conf</code> file.</p>
<p>For the hostname <code>pi1</code>:</p>
<pre><code class="language-bash">interface eth0
static ip_address=192.168.2.160/24
static routers=192.168.2.1
static domain_name_servers=192.168.2.1 8.8.8.8
</code></pre>
<p>For the hostname <code>pi2</code>:</p>
<pre><code class="language-bash">interface eth0
static ip_address=192.168.2.161/24
static routers=192.168.2.1
static domain_name_servers=192.168.2.1 8.8.8.8
</code></pre>
<h3 id="prometheus">Prometheus</h3>
<p>The following is based on this <a href="https://pimylifeup.com/raspberry-pi-prometheus/">article</a>.</p>
<pre><code class="language-bash">sudo apt update
sudo apt full-upgrade

wget https://github.com/prometheus/prometheus/releases/download/v2.22.0/prometheus-2.22.0.linux-armv7.tar.gz
tar xfz prometheus-2.22.0.linux-armv7.tar.gz
mv prometheus-2.22.0.linux-armv7/ prometheus/
rm prometheus-2.22.0.linux-armv7.tar.gz
</code></pre>
<p>Create a service config file</p>
<pre><code class="language-bash">sudo nano /etc/systemd/system/prometheus.service
</code></pre>
<p>and edit to look like the following.</p>
<pre><code class="language-text">[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=pi
Restart=on-failure

ExecStart=/home/pi/prometheus/prometheus \
  --config.file=/home/pi/prometheus/prometheus.yml \
  --storage.tsdb.path=/home/pi/prometheus/data

[Install]
WantedBy=multi-user.target
</code></pre>
<p>Then</p>
<pre><code class="language-bash">sudo systemctl enable prometheus
sudo systemctl start prometheus
sudo systemctl status prometheus

open http://192.168.2.161:9090
</code></pre>
<h3 id="prometheus-push-gateway">Prometheus Push Gateway</h3>
<p>This section base on this <a href="https://github.com/prometheus/pushgateway/blob/master/README.md">github page</a></p>
<pre><code class="language-bash">wget https://github.com/prometheus/pushgateway/releases/download/v1.4.0/pushgateway-1.4.0.linux-armv7.tar.gz


tar xfz pushgateway-1.4.0.linux-armv7.tar.gz
mv pushgateway-1.4.0.linux-armv7/ pushgateway/
rm pushgateway-1.4.0.linux-armv7.tar.gz
</code></pre>
<p>Create a service config file</p>
<pre><code class="language-bash">sudo nano /etc/systemd/system/pushgateway.service
</code></pre>
<p>and edit to look like the following.</p>
<pre><code class="language-text">[Unit]
Description=Prometheus Push Gateway
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=pi
Restart=on-failure

ExecStart=/home/pi/pushgateway/pushgateway

[Install]
WantedBy=multi-user.target
</code></pre>
<p>Then </p>
<pre><code class="language-bash">sudo systemctl enable pushgateway
sudo systemctl start pushgateway
sudo systemctl status pushgateway
</code></pre>
<p>The query API allows accessing pushed metrics and build and runtime information.</p>
<pre><code class="language-bash">curl -X GET http://192.168.2.161:9091/api/v1/status | jq
</code></pre>
<p>To configure pushgateway as a scrape target in prometheus edit <code>/home/pi/prometheus/prometheus.yml</code> as shown below (must have correct indentation)</p>
<pre><code class="language-yaml">...
scrape_configs:
  ...
  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
    - targets: ['localhost:9091']
...
</code></pre>
<p>Then restart</p>
<pre><code>sudo systemctl restart prometheus
</code></pre>
<h3 id="metrics">Metrics</h3>
<h4 id="obff_wh31e_temp1f">obff_wh31e_temp1f</h4>
<p>The <code>gh-flow</code> will generate a metric similar to the following.</p>
<pre><code class="language-bash">cat &lt;&lt;EOF | curl --data-binary @- http://192.168.2.161:9091/metrics/job/sensor_reading/location/greenhouse
# TYPE obff_wh31e_temp1f gauge
# HELP obff_wh31e_temp1f Greenhouse Tempature
obff_wh31e_temp1f 60.25
</code></pre>
<ul>
<li><strong>Metric Name</strong>: obff_wh31e_temp1f</li>
<li><strong>Labels</strong>:</li>
<li>job=sensor_reading</li>
<li>location=greenhouse</li>
</ul>
<h3 id="static-routs">Static Routs</h3>
<p>This section based on <a href="https://wiki.dd-wrt.com/wiki/index.php/Linking_Subnets_with_Static_Routes">this</a></p>
<p>on router 1</p>
<p><img alt="" src="../img/subnet-route.png" /></p>
<p>on router 2</p>
<pre><code class="language-bash"># Allow everything to be forwarded through the router (simple but do not use on routers directly connected to the internet)
iptables -I FORWARD -j ACCEPT
</code></pre>
<h3 id="alert-manager">Alert Manager</h3>
<p>Setup.</p>
<pre><code class="language-bash">wget https://github.com/prometheus/alertmanager/releases/download/v0.21.0/alertmanager-0.21.0.linux-armv7.tar.gz
tar xfz alertmanager-0.21.0.linux-armv7.tar.gz
mv alertmanager-0.21.0.linux-armv7/ alertmanager/
rm alertmanager-0.21.0.linux-armv7.tar.gz
</code></pre>
<p>Create a service config file</p>
<pre><code class="language-bash">sudo vi /etc/systemd/system/alertmanager.service
</code></pre>
<p>and edit to look like the following.</p>
<pre><code class="language-text">[Unit]
Description=Alert Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/alertmanager/alertmanager \
  --config.file=/home/pi/alertmanager/alertmanager.yml \
  --storage.path=/home/pi/alertmanager/data/alertmanager

Restart=always

[Install]
WantedBy=multi-user.target
</code></pre>
<p>Configure the alertmanager config</p>
<pre><code class="language-bash">sudo nano /home/pi/alertmanager/alertmanager.yml
</code></pre>
<p>and edit to look like the following. See the <a href="https://prometheus.io/docs/alerting/latest/configuration/">alertmanager config doc</a>.  And here is a good <a href="https://grafana.com/blog/2020/02/25/step-by-step-guide-to-setting-up-prometheus-alertmanager-with-slack-pagerduty-and-gmail/">blog</a></p>
<pre><code class="language-text">global:
  # URL value not shown becaue it contains a token
  # to get the URL in slack, click more &gt; apps &gt; Browse Apps &gt; Custom Integrations &gt; Incoming WebHooks
  # or go here: https://bagelwarehouse.slack.com/services/1874015307842
  slack_api_url: 'https://hooks.slack.com/services/REDACTED/REDACTED/REDACTED'

route:
  receiver: 'slack-notifications'
  group_by: [alertname, datacenter, app]

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#weather-alerts'
    send_resolved: true
    text: Detail *Temp* `{{ .CommonAnnotations.description }}` {{ range .Alerts -}}{{ range .Labels.SortedPairs }}  *{{ .Name }}* `{{ .Value }}`{{ end }}{{ end }}
</code></pre>
<p>Then</p>
<pre><code class="language-bash">sudo systemctl enable alertmanager
sudo systemctl start alertmanager
sudo systemctl status alertmanager

open http://192.168.2.161:9093
</code></pre>
<p>Now go to the Prometheus server directory and add to the prometheus.yml file and add stuff like this:</p>
<pre><code class="language-yaml">alerting:  
  alert managers:  
    - static_configs: 
       - targets:  
           - &quot;localhost:9093  
rule_files:  
 - &quot;./rules.yml&quot;
</code></pre>
<p>And make the <code>rules.yml</code> look like:</p>
<pre><code class="language-yaml">groups:
- name: sensors
  rules:
  - alert: gh-very-cold
    expr: round(avg_over_time(obff_wh31e_temp1f [2m])) &lt; 50
    annotations:
      text: 'Greenhouse is very cold'
      description: &quot;{{ $value }}&quot;
  - alert: gh-cold
    expr: round(avg_over_time(obff_wh31e_temp1f [2m])) &lt; 59
    annotations:
      text: Greenhouse is cold
      description: &quot;{{ $value }}&quot;
  - alert: gh-warm
    expr: round(avg_over_time(obff_wh31e_temp1f [2m])) &gt; 75
    annotations:
      text: Greenhouse is warm
      description: &quot;{{ $value }}&quot;
  - alert: gh-hot
    expr: round(avg_over_time(obff_wh31e_temp1f [2m])) &gt; 85
    annotations:
      text: Greenhouse is hot
      description: &quot;{{ $value }}&quot;
  - alert: gh-very-hot
    expr: round(avg_over_time(obff_wh31e_temp1f [2m])) &gt; 90
    annotations:
      text: Greenhouse is very hot
      description: &quot;{{ $value }}&quot;
</code></pre>
<p>If changes are made to the file you need to restart to have them take affect:</p>
<pre><code class="language-bash">vi rules.yml 
sudo systemctl restart prometheus
sudo systemctl status prometheus
sudo journalctl --unit=prometheus -f
</code></pre>
<p>to debug:</p>
<pre><code>sudo journalctl --unit=alertmanager.service
</code></pre>
<h3 id="bug-fix">Bug fix</h3>
<p>Do this on pi1 and pi2</p>
<pre><code class="language-bash">sudo vi /etc/avahi/avahi-daemon.conf

# Comment out
# use-ipv6=yes

# set this
deny-interfaces=wlan0

# Then
sudo systemctl restart avahi-daemon
</code></pre></div>
        </div>

    <footer class="col-md-12">
        <hr>
        
    </footer>

        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>
    </body>
</html>